<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MinecraftServerDashboard.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <MinecraftServerDashboard.MySettings>
      <setting name="SurpressMinimiseMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="Startup_Memory" serializeAs="String">
        <value>1G</value>
      </setting>
      <setting name="Startup_MemoryMin" serializeAs="String">
        <value>512M</value>
      </setting>
      <setting name="Startup_JavaExec" serializeAs="String">
        <value />
      </setting>
      <setting name="ProfileDir_ExcludedDirectories" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>world-backups</string>
            <string>plugins</string>
            <string>crash-reports</string>
            <string>logs</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UserSettings_DefaultTextEditor" serializeAs="String">
        <value />
      </setting>
      <setting name="Jarfile" serializeAs="String">
        <value />
      </setting>
      <setting name="LaunchArgu_JAVA" serializeAs="String">
        <value />
      </setting>
      <setting name="LaunchArgu_SRV" serializeAs="String">
        <value />
      </setting>
    </MinecraftServerDashboard.MySettings>
  </userSettings>
</configuration>